# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.toast
.cache/
.pytest_cache/

# Django
db.sqlite3
*.sqlite3
media/
static/collected/

# Environments & Secret Keys
.env
.env.local
.env.*
secrets.json

# Docker & AI Cache
.insightface/

# IDE / Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS / System
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
Desktop.ini
.DS_Store
